<form action="/login" method="post">
	<h1> Login Failed Try Again</h1>
		<p> <%= message %> </p>

	<div>
	<label>Username:</label>
	<input type="text" name="username"/><br/>
	</div>
	<div>
	<label>Password:</label>
	<input type="password" name="password"/>
	</div>
	<div>
	<input type="submit" value="Submit"/>
	</div>

	<a href='/signUp'><button>Sign Up </button></a>
</form>
